{% extends 'base.html.twig' %}

{% block title %}Les évènements{% endblock %}

{% block body %}

    <section class="container">
        <h2 class="text-primary h2">Les évènements</h2>

        {% for event in events %}
            <div class="card mt-3" style="width: 18rem;">
                <div class="card-body">
                    <h3 class="card-title">{{ event.title }}</h3>
                    <p class="card-text">{{ event.description }}</p>
                    <p class="card-text">Début : {{ event.startTime.format('d/m/YEAR H:i:s') }}</p>
                    <p class="card-text">Fin : {{ event.endTime.format('d/m/YEAR H:i:s') }}</p>

                    <a href="{{ path('event_show', {id: event.id}) }}" class="card-link">Voir l'évènement'</a>
                    <a href="{{ path('event_update', {id: event.id}) }}" class="card-link">Mettre à jour</a>
                </div>
            </div>
        {% endfor %}


        <a href="{{ path('event_create') }}" class="btn btn-primary">Créer un nouvel évènement</a>
    </section>

{% endblock %}
