{% extends 'base.html.twig' %}

{% block title %} Modification de {{ category.name}} {% endblock %}

{% block body %}

    <section class="container">
        <h2 class="text-primary h2">Modification de {{ category.name }}</h2>
        {{ form_start(form_view) }}
        {{ form_widget(form_view) }}
        {{ form_end(form_view) }}
    </section>
    <section class="container mt-3">
        <a href="{{ path('category') }}" class="btn btn-primary">Retourner aux catégories</a>
    </section>

{% endblock %}