{% extends 'base.html.twig' %}

{% block title %}Salle "{{ room.name }}" {% endblock %}

{% block body %}

    <section class="container">

        <h2 class="text-primary h2">Salle "{{ room.name }}" </h2>

        <p>Elle peut accueillir jusqu'à {{ room.capacity }}</p>
        <p>Elle appartient à l'établissement : {{ etablishment.name }}, à {{ etablishment.address }}</p>
        <p>{{ etablishment.description }}</p>

        <h3>Les tags liés à cette salles sont : </h3>
        <ul>
            {% for tag in room.tags %}
                <li><a href="{{ path('tag') }}">{{ tag.name }}</a></li>
            {% endfor %}
        </ul>

        <a href="{{ path('room') }}" class="btn btn-primary">Retour aux salles</a>

    </section>

{% endblock %}