{% extends 'base.html.twig' %}

{% block title %}Salle "{{ room.name }}" {% endblock %}

{% block body %}

    <section class="container">

        <h2 class="text-primary h2">Salle "{{ room.name }}" </h2>

        <div class="card" style="width: 30rem;">
            {% for image in room.images %}
                <img src="{{ asset(image.path) }}" class="card-img-top" width="60" alt="{{ room.name }}">
            {% endfor %}
            <div class="card-body">
                <h5 class="card-title">{{ room.name }}</h5>
                <p class="card-text">Elle peut accueillir jusqu'à {{ room.capacity }} personnes</p>
                <p class="card-text">Elle appartient à l'établissement : {{ etablishment.name }}, à {{ etablishment.address }}</p>
                <p class="card-text">{{ etablishment.description }}</p>
                <a href="{{ path('room_update', {id: room.id}) }}" class="btn btn-warning">Mettre à jour</a>
                <a href="{{ path('etablishment_show', {id: room.etablishment.id}) }}" class="btn btn-primary">Voir l'établissement</a>
            </div>
        </div>

        <h3>Les tags liés à cette salles sont : </h3>
        <ul>
            {% for tag in room.tags %}
                <li><a href="{{ path('tag') }}">{{ tag.name }}</a></li>
            {% endfor %}
        </ul>



        <a href="{{ path('etablishment') }}" class="btn btn-primary">Retour aux établissements</a>

    </section>

{% endblock %}