{% extends 'base.html.twig' %}

{% block title %}Liste des animateurs{% endblock %}

{% block body %}

    <section class="container">
        <h2 class="text-primary h2">Liste des animateurs</h2>

        <h2 class="text-primary h2">Liste des établissements</h2>

        <div class="d-flex justify-content-around flex-wrap">

            {% for animator in animators %}
                <div class="card mt-3 mr-3" style="width: 18rem;">
                    <div class="card-body">
                        <h3 class="card-title">{{ animator.firstname }} {{ animator.lastname }}</h3>

                        <a href="{{ path('animator_update', {id: animator.id}) }}"
                           class="card-link link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Mettre
                            à
                            jour</a>

                        <a href="{{ path('animator_delete', {id: animator.id}) }}"
                           class="card-link link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Supprimer</a>
                    </div>
                </div>
            {% endfor %}
        </div>


        <a href="{{ path('animator_create') }}" class="btn btn-primary">Ajouter un nouvel animateur</a>
    </section>

{% endblock %}
